<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogarea</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <header class="p-4 bg-dark">
    <ul class="nav justify-content-between w-50">
      <li class="nav-item">
        <a class="nav-link text-white" style="font-size: 1.5em;" href="/">Home</a>
      </li>
      {{#if loggedIn}}
      <li class="nav-item">
        <a class="nav-link text-white" style="font-size: 1.5em;" href="/dashboard/user">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" style="font-size: 1.5em;" id="logout" href="/">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link text-white" style="font-size: 1.5em;" href="/login">Login</a>
      </li>
      {{/if}}
    </ul>
    <h1 class="py-2 bg-white col-3 text-center rounded">The Tech Blog</h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>