<section>
  <h2 class="px-4">Create New Post</h2>

  <form class="row flex-column align-content-center" id="edit-post-form">
    <div class="row flex-column text-center">
      <label for="post-title" style="font-size: 1.5em;">Title:</label>
      <input type="text" id="post-title" name="post-title" class="form-control form-control-lg w-50 align-self-center" style="font-size: 1.5em;"/>
      <label for="post-url" style="font-size: 1.5em;">Post text:</label>
      <textarea id="post-url" name="post-text" class="form-control" style="font-size: 1.5em; height: 250px;"></textarea>
    </div>
    <button type="submit" class="btn btn-primary w-25 align-self-center my-2" style="font-size: 1.5em;">Create</button>
  </form>
</section>
{{#if posts.length}}
<section>
  <h2 class="px-4 mt-5">Your Posts</h2>
    {{#each posts as |post|}}
    <article class="card p-2">
      <div class="card-body">
          <div class="row bg-dark text-white justify-content-between">
              <h1><a href="/dashboard/edit/{{id}}" class="card-title text-white px-4">{{title}}</a></h1>
              <h4 class="align-self-center pr-2">Posted by: {{user.username}}</h4>
          </div>
          <div class="row">
              
          </div>
          <div class="row py-1">
              <h5 class='px-5'>{{post_text}}</h5>
          </div>
      </div>
    </article>
    {{/each}}
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>